.selector{
  height: 50px;
  width: 100%;
  padding: 0.4rem 0.75rem;
  font-size: 1.1rem;
  line-height: 1.5;
  color: #495057;
  border: 1px solid #ced4da;
}

header {
  margin: 10px;
  border: 5px solid #828282;
  border-radius: 5px;
  background-color: #cacaca;
  height: 100px;
}
header h2{
  margin: 0;
  padding: 20px 0;
  text-align:center;
}
#div2 {
  margin: auto;
}

.linea-separadora {
  margin: auto;
  border-left: 2px solid #cacaca;
  height: 400px;
  margin-left: 45px;
  margin-right: 45px;
}

.producto {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.producto img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}
.producto .nombre {
  font-weight: bold;
}
.producto .descripcion {
  margin-top: 5px;
}
.producto .precio {
  margin-top: 10px;
}

.container {
  display: flex;
  justify-content: space-between; /* Distribuir los elementos a lo largo del contenedor */
  align-items: flex-start; /* Alinear los elementos en la parte superior */
  margin-top: 50px; /* Espacio superior entre el contenedor y otros elementos */
}

.form-container {
  flex: 1;
  margin-right: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#informacion {
  
  border: 3px solid #c3e6cb;
  border-radius: 8px;
  background-color: #d4edda; /* Agregué un color de fondo para distinguir el área de información */
  flex: 1;
  padding: 10px; /* Agregué un relleno para mejorar la presentación */
  text-align: center;
}

.info{
  display: inline-block;
  max-width: 75%;
  margin: 0;
  text-align: center;
}
.info img{
  max-width: 100%;
}

label {
  font-weight: bold;
}

select, input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
}
